<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rolecoll </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--Show SQL for debugging-->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Mapping files -->
        <mapping resource="Notes.hbm.xml"/>
        <mapping resource="Users.hbm.xml"/>
        <mapping resource="Documents.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
